.darkBG {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 102vh;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.centered {
  position: fixed;
  top: 42.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sizetofit {
  max-height: 75%;
  width: auto;
}

.infobox {
  height: 96px;
  background-color: white;
  width:100%;
  position:absolute;
}

.infotitle {
  margin-left: 10px;
  font-size: larger;
}