.card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
  width: 20%;
  height: 15em;
  display: inline-block;
  margin: 2em 2em;
  background-size: cover;
  position: relative;
  /* background-size: 250px 250px; */
  background-position: center;
  background-repeat: no-repeat;
  /*  transition: all 2s;
  -webkit-transition:all 2s ;
  -o-transition:all 2s ;
  -moz-transition:all 2s ; */
  transition: opacity 2s;
}

.card:hover img{
  /* background-size: contain; */
  /* background-size: 150px 150px;  */
  opacity: 0.9;
  /* background-repeat: no-repeat; */
}
